body {
	text-align: center;
}

.btn-danger {
	margin: 25px 150px 50px 150px;
	float: right;
}

.btn-primary {
	margin: 25px 150px 50px 150px;
	float: left;
}

div{
	font-size: 25px;
	margin: 20px;
}

div.div3 {
	clear: both;
	font-size: 100px;
}

form {
	margin: 20px;
}

.title {
	margin: 50px;
}